# Memcached configuration

# Listen on TCP port <num>, the default is port 11211.
PORT="{{ memcached_port }}"

# Assume the identity of <username> (only when run as root).
USER="{{ memcached_user }}"

# Use <num> max simultaneous connections; the default is 1024.
MAXCONN="{{ memcached_maxconn }}"

# Use <num> MB memory max to use for object storage; the default is 64
# megabytes.
CACHESIZE="{{ memcached_cachesize }}"

# Extra options
OPTIONS="{% for item in memcached_options %}{{ item }} {% endfor %}"
